<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Point</th>
      <th>Category</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {{#each placemark.points}}
      <tr>
        <td>
          {{title}}{{!name or title}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          <a href="/placemark/{{../placemark._id}}/deletepoint/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
